
input.ng-invalid.ng-touched {
  border: 1px solid red;
}

::ng-deep .p-password {
  width: 100%;
}

::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  margin: 0;
  padding: 0.5rem 1rem !important;
  border: 0 none;
  color: hsl(210deg 9% 31%);
  background: hsl(0deg 0% 0% / 0%);
  transition: box-shadow 0.2s;
  border-radius: 0;
  font-size: small !important;
  font-family: AvenirLTProMedium !important;
}

::ng-deep .p-calendar {
  position: relative;
  display: inline-flex;
  width: 100% !important;
}

::ng-deep .p-calendar-w-btn .p-inputtext {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 2.8rem !important;
}

::ng-deep .p-calendar-w-btn .p-datepicker-trigger {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 2.8rem !important;
}

::ng-deep .p-inputgroup-addon:last-child,
.p-inputgroup button:last-child,
.p-inputgroup input:last-child,
.p-inputgroup > .p-inputwrapper:last-child > .p-component,
.p-inputgroup > .p-inputwrapper:last-child > .p-component > .p-inputtext {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: medium;
}

