<div class="container-fluid p-0 login-bg">
  <div class="d-flex align-items-center justify-content-center vh-100">
    <p-card [style]="{'width': '25rem'}">
      <p class="title">Sign In</p>
      <div class="middle-border">
        <img [src]="loginImgPath" width="150" height="150" class="img-fluid login-form-img mx-2" alt="">
      </div>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm" autocomplete="off">
        <div class="p-inputgroup my-4">
          <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
          <input
            type="email"
            pInputText placeholder="Email ID"
            class="p-inputtext-sm"
            ngModel
            name="email" required email #email="ngModel">
        </div>
        <div class="p-inputgroup my-4">
          <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input
            type="password"
            class="p-inputtext-sm"
            pInputText placeholder="Password"
            ngModel
            name="password" required />
        </div>
        <div class="d-flex my-4">
          <p-checkbox [binary]="true" inputId="binary" label="Remember me" class="me-4" styleClass="success"></p-checkbox>
          <p-button label="Forget Password" class="ms-5" styleClass="p-button-link p-button-sm p-button-success"></p-button>
        </div>
        <div class="my-4">
          <button
            pButton pRipple
            type="submit"
            class="p-button-raised p-button-success p-button-sm w-100 d-block fw-bold fs-6"
            [disabled]="!loginForm.valid"
          ><span>Sign In<i class="pi pi-sign-in mx-2 fw-bold"></i></span></button>

        </div>
        <div>
          <p-button label="Create New Account" routerLink="/registration" class="w-100" styleClass="p-button-link p-button-sm p-button-success"></p-button>
        </div>
      </form>
    </p-card>
  </div>
</div>
