.login-bg {
  background: linear-gradient(hsl(249deg 83% 52% / 50%), hsl(217deg 100% 48% / 45%)), url("../../../assets/images/login-bg.jpg") center center no-repeat;

/*  below values are optional */
 	background-attachment:fixed;
	background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
  font-family: 'Petit Formal Script', cursive;
  font-size: 70px;
  text-align: center;
  color: white;
}

.title {
  font-size: larger;
  font-family: 'AvenirLTProRoman', sans-serif;
  font-weight: 800;
  color: hsl(142deg 71% 45%);
  letter-spacing: 2px;
}

.login-form-img {
  border-radius: 50%;
  border: 7px solid rgba(171, 171, 184, 0.485);
  background-color: white;
}


input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.middle-border {
  display: flex;
  flex-direction: row;
}

.middle-border:before, .middle-border:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid rgba(171, 171, 184, 0.485);
  margin: auto;
}

::ng-deep .p-button.p-button-link {
    color: hsl(142deg 71% 45%);
    background: hsl(0deg 0% 0% / 0%);
    border: hsl(0deg 0% 0% / 0%);
}

::ng-deep .p-button.p-button-link:enabled:hover {
  color: hsl(142deg 76% 36%);
}

::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  border-color: hsl(142deg 71% 45%);
  background: hsl(142deg 71% 45%);
}

::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border-color: rgb(1, 139, 52);
  background: hsl(142deg 76% 36%);
  color: hsl(0deg 0% 100%);
}

::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: rgb(1, 139, 52) !important;
}

::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  border-color: rgb(1, 139, 52);;
  box-shadow: 0 0 0 0.2rem rgb(146, 240, 181) !important;
}
